.MissionFilter {
    display: flex;
    gap: .5rem;
}

.MissionFilter button {
    border: 2px solid rgb(185, 4, 4);
    background: transparent;
    color: #fff;
    font-family: inherit;
    padding: 8px 32px;
    cursor: pointer;
    transition: .3s;
}

.MissionFilter button:hover {
    background: rgb(185, 4, 4);
}