.MissionAction {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .5rem;
}

.MissionAction button {
    background: transparent;
    color: #fff;
    font-family: inherit;
    padding: 8px 32px;
    cursor: pointer;
    transition: .3s;
    border: 2px solid green;
}

.MissionAction button:hover {
    background: green;
}