.Planets {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

.Planets__card {
    border: 2px solid;
    padding: 25px;
    display: flex;
    gap: 2rem;
}

.Planets__card--inner {
    border: 2px dotted;
    display: inline-block;
    padding: 25px;
    text-align: center;
    transition: .3s;
    cursor: pointer;
}

.Planets__card--inner.active:hover, .Planets__card--inner.active {
    border: 2px dotted red;
}

.Planets__card--inner img {
    width: 100px;
}

.Planets__card--inner:hover {
    border-color: green;
}